# Ignore Python virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore IDE settings
.idea/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore environment variables
.env
# created by virtualenv automatically
*
